<%- include("header") -%>


<h2>ABOUT THIS APP</h2>

<p>This app was developed to mimic the functionality of the typical ToDo list apps</p>
<p>It allows users to make custom lists to separate out the tasks such as today, home, work, etc</p>
<p>Features like adding new items in the list and checking off the items once its completed is provided.</p>
<p>The tasks persists in the database</p>
<hr>

<p>This app was developed with: </p>
<ul>
    <li>Frontend: HTML, CSS, JS</li>
    <li>Node ^14.17.5</li>
    <li>Express ^4.17.1</li>
    <li>Database: MongoDB mongoose<li>
    <li>Deployment using MongoDB Atlas and Heroku<li>
    <li>Templates and Layouts/Partials using EJS</li>
    <li>Editor: Atom</li>
</ul>


<%- include("footer") -%>
